@using WebShop.Domain.Entities
@using WebShop.Areas.Admin.ViewModels
@model ProductViewModel

@if (Model.Id > 0)
{
    <h4>Редактирование продукта</h4>
}
else
{
    <h4>Ноый продукт</h4>
}


@{
    IEnumerable<Section> sections = ViewBag.Sections;
    IEnumerable<Brand> brands = ViewBag.Brands;
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="New" method="post" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" type="hidden"/>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Section">Секция</label>
                <select asp-for="Section" asp-items="new SelectList(sections)" class="form-control"></select>
            </div>

            <div class="form-group">
                <label asp-for="Brand">Бренд</label>
                <select asp-for="Brand" asp-items="new SelectList(brands)" class="form-control"></select>
            </div>

            <div class="form-group">
                @if (string.IsNullOrEmpty(Model.ImagePath))
                {
                    <img src="~/images/shop/no_images.png" style="height:100px; margin:10px;" />
                }
                else
                {
                    <img src="~/images/shop/@Model.ImagePath" style="height:100px; margin:10px;" />
                }
                <input asp-for="Image" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List" asp-controller="Product" asp-area="Admin">Назад к списку</a>
</div>

