@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Список ролей";
}

<h2>Список ролей</h2>

<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                <a href="#">Удалить</a>
            </td>
        </tr>
    }
</table>

<a asp-action="Create" asp-controller="Roles">Добавить новую роль</a>

