<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li>
                <a asp-controller="Product" asp-action="List" asp-area="Admin"><i class="fa fa-desktop "></i>Продукты</a>
            </li>
        </ul>
    </div>

</nav>